# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
.venv/
build/
dist/

# IDE-specific files
.idea/  # PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage

# Jupyter Notebook files
.ipynb_checkpoints/

# Database files
*.sqlite3
*.db

# Environment variables
.env
.flaskenv

# Log files
*.log

# Miscellaneous
temp/
tmp/